/* Palette 
https://colorhunt.co/palette/171717444444da0037ededed */

/* Icon
https://www.flaticon.com/packs/coronavirus-154?word=covid&style_id=8&family_id=3&group_id=1 */


body{
    /* 
    background-attachment: fixed; */
    background-color: #171717;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    color: #EDEDED;
}

/* Logo */
.logo{
    float: left;
    width: 20%;
    margin: 40px;
}

/* Navigation bar */
header {
    display: block;
}

header ul{
    list-style-type: none;
    margin-top: 40px;
    margin-right: 40px;
    float: right;
}

header ul li{
    display: inline;
}

a.nav, .dropdown a{
    text-decoration: none;
    font-size: 1.5rem;
    margin: 20px;
    font-weight: 300;
    color: inherit;
}

.dropdown{
    display: inline;
}

.dropdown-btn{
    border: none;
    outline: none;
    font-family: inherit;
}

.dropdown-content{
    display: none;
    background-color: #444444;
    z-index: 1;
    position: absolute;
    box-shadow: 1px;
}

.dropdown-content a{
    font-size: 1rem;
    display: block;
    text-align: left;
    margin: 0;
    padding: 15px;
    min-width: 120px;
}

.dropdown-content a:hover{
    background-color: #EDEDED;
    color: #171717;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

  /* 1st-Intro */
#first-container{
clear: right;
padding-top: 50px;
}
#first-container img {
float: left;
}

/* Buttons Style */

.button-primary {
    background-color: #DA0037;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 50px;
}

.button-primary:hover {
    background-color: #FFFFFF;
    color: #DA0037;
}

.button-secondary {
    background-color: #444444;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    height: 40px;
    width: 120px;
}
.button-secondary:hover {
    background-color: #171717;
    color: #FFFFFF ;
}

.button-radio {
    height: 40px;
    width: 80px;
}


/* Footer */
footer{
    height: 30px;
    text-align: center;
    padding-top: 300px;
}